*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --vermelho: red;
    --preta: black;

}

/* Elementos base */
body{
    background-color: var(--preta);
    font-family: 'Arial', Times, serif;
    color: #fff;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

header .logo{
    margin-left: 10px;
    color: var(--vermelho);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}
a:link{
    text-decoration: none;
}

header nav a{
    font-weight: bold;
    text-decoration: none;
    color: #aaa;
    margin-right: 25px;
}

header nav a:hover{
    color: #fff;
}

/* filme principal*/

.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(129, 129, 129, 0.5),rgba(0,0,0,.50)100%), url(/img/capa-house.jpg);
    height: 400px;
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}

.filme-principal .titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: #fff;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color: white;
    color: black;
}

.botao i{
    margin-right: 8px;
}

.container{
    margin-left: 20px;
}

.filme-principal .container{
    width: 70%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes{
    margin-top: 10px;
}

.assinar{
    background-color: rgba(255,0,0,.90);
    color: black;
    font-weight: bolder;
    padding: 7px 25px;
    border-color: black;
    border-radius: 5px;
    transition: .3s ease all;    
    cursor: pointer;
}

.assinar:hover{
    background-color: rgba(30,30,30,.90);
    color:red;
    font-weight: bolder;
}

div .centro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.centro{
    height: 800px;
}

.cadastro{
    margin: 10px 0;
    background:linear-gradient( rgba(0,0,0,.50), rgba(0,0,0,.50) 100%), url(/img/fundo.png);
    background-size: cover;
}

div .logo{
    color: red;
    font-size: 60px;
}

.chamada{
    margin: 3%;
}

form .email{
    background-color: #fff;
    border: none;
    padding: 10px;
}


form .submit_form{
    font-weight: border;
    color:var(--vermelho);
    background-color: #000;
    border: none;
    padding: 10px;
    cursor: pointer;
}


footer .logo{
    color: var(--vermelho);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    
}
footer .container{
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: center;
    align-items: center;
}

